name: auctionbay-prod

services:
  backend:
    build: .
    container_name: backend-prod
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: production
      USE_IMAGEKIT: true
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      CORS_ORIGIN: ${CORS_ORIGIN}
      IMAGEKIT_PUBLIC_KEY: ${IMAGEKIT_PUBLIC_KEY}
      IMAGEKIT_PRIVATE_KEY: ${IMAGEKIT_PRIVATE_KEY}
      IMAGEKIT_URL_ENDPOINT: ${IMAGEKIT_URL_ENDPOINT}
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ./uploads:/app/uploads
    command: sh -c "npx prisma generate && npm run start:dev"